

*{
    margin: 0;
    padding: 0;

}

*,*::before, *::after{
    box-sizing: border-box;
}


:root{
    --border: solid blue;
    --bg-color:#53b8bb;
    --button-color:#f3f2c9;
    --small-container-bg-color:#055052;

}

body{
    background-color: var(--bg-color);
}

.grid-container > *{
    background-color: var(--small-container-bg-color);
    font-family: sans-serif;
    text-transform: capitalize;

    display: grid; justify-content: center;align-items: center;
}

.grid-container header{
    grid-area: header;
}

.grid-container main{
    grid-area: main;
}

.grid-container aside{
    grid-area: aside;
}

.grid-container nav{
    grid-area: nav; 
}

.grid-container section{
    grid-area: section;
}

.grid-container footer{
    grid-area: footer;
}

.grid-container{ 
    max-width: 600px;
    margin: 20px auto 0 auto;

    display: grid;
    gap: 10px;
    
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(50px,auto);
    /* Minimum row ko height 50px hunxaa
    */
    grid-template-areas: 
    "header header header header"
    "footer footer footer footer"
    "main main main main"
    "main main main main"
    "aside aside nav nav"
    "section section section section"
    "section section section section";
}


/* Sano maa 760 px thulo maa jati vayae pani vayo  
below media query is read like this*/
@media screen and (min-width:760px) {
    .grid-container{ 
        max-width: 600px;
        margin: 20px auto 0 auto;
    
        display: grid;
        gap: 10px;
        
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(50px,auto);
        /* Minimum row ko height 50px hunxaa
        */
        grid-template-areas: 
        "header header header header"
        "main main main aside"
        "main main main aside"
        "nav nav section aside"
        "nav nav section aside"
        "footer footer footer footer";
    }
}



